.container {
  margin: auto;
  background-color: #f5f1f1;
  padding-top: 20px;
}

.restaurants {
  margin: auto;
  box-shadow: 6px 6px 6px gray;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow: hidden;
  background-color: #fff;
  &__img-new {
    display: flex;
    justify-content: flex-end;
    &--texte {
      background-color: $colour-tertiary;
      color: green;
      width: 6em;
      padding: 5px;
      position: absolute;
      margin-right: 30px;
      text-align: center;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 200px;
    }
  }

  &__textandheart {
    display: flex;
    justify-content: space-between;
    margin: -15px 0px 0px 20px;
    &--texte {
      padding-top: 15px;
      & p {
        font-size: 20px;
        line-height: 0;
        font-weight: 100;
      }
    }
  }
}
