@charset "UTF-8";
/*loading spinner*/
/*appariton progressive menu*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
.anim-menu li:nth-child(1) {
  animation: anim-menu 1s linear;
}
.anim-menu li:nth-child(1):hover .check {
  animation: check-gliss 700ms linear;
  margin-right: 0px;
}
.anim-menu li:nth-child(1):hover .check i {
  animation: icone-rotate ease 0.5s;
  animation-iteration-count: 1;
}

.anim-menu li:nth-child(2) {
  animation: anim-menu 2s linear;
}
.anim-menu li:nth-child(2):hover .check {
  animation: check-gliss 700ms linear;
  margin-right: 0px;
}
.anim-menu li:nth-child(2):hover .check i {
  animation: icone-rotate ease 0.5s;
  animation-iteration-count: 1;
}

.anim-menu li:nth-child(3) {
  animation: anim-menu 3s linear;
}
.anim-menu li:nth-child(3):hover .check {
  animation: check-gliss 700ms linear;
  margin-right: 0px;
}
.anim-menu li:nth-child(3):hover .check i {
  animation: icone-rotate ease 0.5s;
  animation-iteration-count: 1;
}

.anim-menu li:nth-child(4) {
  animation: anim-menu 4s linear;
}
.anim-menu li:nth-child(4):hover .check {
  animation: check-gliss 700ms linear;
  margin-right: 0px;
}
.anim-menu li:nth-child(4):hover .check i {
  animation: icone-rotate ease 0.5s;
  animation-iteration-count: 1;
}

@keyframes anim-menu {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/*coeurs opacité*/
@keyframes opacity-heart {
  0% {
    background: -webkit-linear-gradient(#9356dc1c, #ff79d91c);
    -webkit-background-clip: text;
    background-clip: text;
  }
  50% {
    background: -webkit-linear-gradient(#9256dc3a, #ff79da3a);
    -webkit-background-clip: text;
    background-clip: text;
  }
  80% {
    background: -webkit-linear-gradient(#9256d969, #ff79d969);
    -webkit-background-clip: text;
    background-clip: text;
  }
  90% {
    background: -webkit-linear-gradient(#9256dcc7, #ff79d9c7);
    -webkit-background-clip: text;
    background-clip: text;
  }
  100% {
    background: -webkit-linear-gradient(#9356da, #ff79da);
    -webkit-background-clip: text;
    background-clip: text;
  }
}
/*animation plat check*/
@keyframes check-gliss {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes icone-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(380deg);
  }
}
/*looding-spinner*/
.content {
  animation: load-spinner 3s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}
.content p {
  font-family: "shrikhand";
  font-size: 4.5vh;
  color: #ff79da;
  text-shadow: -5px 5px #99e2d0;
}
.content p:hover {
  color: #9356dc;
  text-shadow: -5px 5px #ff79da;
}

.content-load {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load {
  width: 30vh;
  height: 22.5vh;
  display: flex;
  justify-content: space-evenly;
}
.load__bar {
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  height: 100%;
  width: 3vh;
  animation: bars 1000ms backwards infinite ease-in-out alternate;
}
.load__bar--1 {
  animation-delay: 200ms;
}
.load__bar--1:hover {
  background: -webkit-linear-gradient(#ff79da, #99e2d0);
}
.load__bar--1-inv {
  animation-delay: 200ms;
  animation-direction: alternate-reverse;
  background: -webkit-linear-gradient(#ff79da, #99e2d0);
}
.load__bar--1-inv:hover {
  background: -webkit-linear-gradient(#ff79da, #9356dc);
}
.load__bar--2 {
  animation-delay: 400ms;
}
.load__bar--2:hover {
  background: -webkit-linear-gradient(#ff79da, #99e2d0);
}
.load__bar--2-inv {
  animation-delay: 400ms;
  animation-direction: alternate-reverse;
  background: -webkit-linear-gradient(#ff79da, #99e2d0);
}
.load__bar--2-inv:hover {
  background: -webkit-linear-gradient(#ff79da, #9356dc);
}
.load__bar--3 {
  animation-delay: 600ms;
}
.load__bar--3:hover {
  background: -webkit-linear-gradient(#ff79da, #99e2d0);
}
.load__bar--3-inv {
  animation-delay: 600ms;
  animation-direction: alternate-reverse;
  background: -webkit-linear-gradient(#ff79da, #99e2d0);
}
.load__bar--3-inv:hover {
  background: -webkit-linear-gradient(#ff79da, #9356dc);
}
.load__bar--4 {
  animation-delay: 800ms;
}
.load__bar--4:hover {
  background: -webkit-linear-gradient(#ff79da, #99e2d0);
}
.load__bar--4-inv {
  animation-delay: 800ms;
  animation-direction: alternate-reverse;
  background: -webkit-linear-gradient(#ff79da, #99e2d0);
}
.load__bar--4-inv:hover {
  background: -webkit-linear-gradient(#ff79da, #9356dc);
}
.load__bar--5 {
  animation-delay: 1000ms;
}
.load__bar--5:hover {
  background: -webkit-linear-gradient(#ff79da, #99e2d0);
}
.load__bar--5-inv {
  animation-delay: 1000ms;
  animation-direction: alternate-reverse;
  background: -webkit-linear-gradient(#ff79da, #99e2d0);
}
.load__bar--5-inv:hover {
  background: -webkit-linear-gradient(#ff79da, #9356dc);
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
/* appariton index*/
@keyframes load-spinner {
  0% {
    opacity: 1;
    z-index: 1300;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
html {
  background-color: darkgrey;
}

body {
  background-color: white;
  padding-top: 15px;
  font-family: "Roboto";
  margin: auto;
}

.presentation h1 {
  display: block;
}

h1,
h2 {
  font-family: "Roboto";
  display: flex;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 700;
}

h2 {
  padding-left: 1em;
}

.presentation p {
  font-family: "Roboto";
  font-size: 1.5em;
  color: grey;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

/*medias queries*/
@media only screen and (max-width: 320px) {
  /*style petits smartphones en voie de disparition*/
  body {
    width: 100%;
  }

  .restaurants {
    width: 90%;
  }

  .anim-menu {
    margin-left: -40px;
  }

  .restaurants__textandheart--texte h3 {
    line-height: 1.1;
    font-size: 22px;
  }

  .content {
    text-align: center;
    font-size: 2.5vh;
  }

  .load {
    width: 17vh;
  }
  .load__bar {
    width: 2vh;
  }
}
@media only screen and (min-width: 321px) and (max-width: 799px) {
  /*style smartphones et petites tablettes en portrait*/
  body,
.header__img {
    width: 100%;
  }

  .restaurants {
    width: 90%;
  }

  .anim-menu {
    margin-left: -40px;
  }

  .fonctionnement__btn {
    width: 80%;
  }

  .restaurants__textandheart--texte h3 {
    line-height: 1.1;
    font-size: 22px;
  }

  .content {
    text-align: center;
  }
  .content p {
    font-size: 2.5vh;
  }

  .load {
    width: 17vh;
  }
  .load__bar {
    width: 2vh;
  }
}
@media only screen and (min-width: 800px) and (max-width: 966px) {
  /*style petites-moyennes tablettes */
  body,
.header__img {
    width: 80%;
  }

  .restaurants {
    width: 90%;
  }

  .anim-menu {
    margin-left: -40px;
  }

  .restaurants__textandheart--btn {
    margin-right: 10px;
  }

  .fonctionnement__btn {
    width: 80%;
  }

  h3 {
    font-size: 30px;
    line-height: 0.2;
  }
}
@media (min-width: 966px) {
  /*style desktop */
  body,
.header__img {
    width: 90%;
  }

  .menu_contenu .titre {
    padding-right: 6%;
  }

  .restaurants {
    width: 45%;
  }

  .media-desktop {
    display: flex;
    justify-content: space-between;
  }

  .footer-texte {
    display: flex;
    justify-content: space-between;
  }

  .fonctionnement__btn {
    width: 35%;
  }

  .anim-menu {
    margin-left: 40px;
    margin-top: 40px;
  }
  .anim-menu__proposition {
    width: 90%;
  }
  .anim-menu .restaurants__textandheart--btn {
    margin-right: 10px;
  }

  .titre h1 {
    padding-left: 60px;
  }

  .restaurants__textandheart--btn {
    margin-right: 0px;
  }

  h3 {
    font-size: 30px;
    line-height: 0.2;
  }

  section {
    margin-bottom: 5em;
  }
}
.presentation button {
  box-shadow: 2px 3px #9e9e9e;
  background: linear-gradient(#ffa2e5 0%, #782cd3 100%);
  border-radius: 10rem;
  cursor: pointer;
  overflow: hidden;
  padding: 20px 30px;
  transition: transform 450ms, background-color 300ms 150ms;
  color: white;
  font-family: "roboto";
  border: none;
  font-size: 20px;
}
.presentation button:hover {
  box-shadow: 3px 4px #515151;
  background: linear-gradient(#fface8 15%, #a16be0 100%);
}

.fonctionnement__btn {
  display: flex;
  align-items: center;
  margin: auto;
  height: 60px;
  padding: 10px;
  border-radius: 1.5em;
  box-shadow: 0px 5px 10px #eaeaea;
  margin-bottom: 20px;
  background-color: #f5f1f1;
  font-size: 16px;
  font-weight: bolder;
  border: none;
}
.fonctionnement__btn:hover {
  background-color: #f7f7f7;
  box-shadow: 0px 5px 10px #d1d1d1;
}
.fonctionnement__btn:hover i {
  color: #9356dc;
}
.fonctionnement__btn p {
  background-color: #9356dc;
  height: 15px;
  width: 15px;
  color: white;
  padding: 10px;
  border-radius: 100%;
  margin: -10px 0px 0px -25px;
}
.fonctionnement__btn i {
  margin: 0px 30px 0px 30px;
  font-size: 20px;
  color: gray;
}
.fonctionnement p.number {
  margin-top: 5px;
}

.restaurants__textandheart--btn {
  background-color: transparent;
  border: none;
  font-weight: 100;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 0.292em;
  margin-top: 1em;
}
.restaurants__textandheart--btn:hover i {
  animation: opacity-heart 0.8s ease-in-out;
  transition: font-weight 0.3s;
  font-weight: 900;
  color: #ff79da;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  text-align: center;
}
header .logo {
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 15px;
  height: 40px;
}
header form {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 10px;
  box-shadow: 0px 4px 6px lightgray inset;
  padding-left: 70px;
}
header form p {
  padding-right: 10px;
}
header form input {
  background-color: #eaeaea;
  border: none;
  font-size: large;
}
header form input::placeholder {
  color: black;
  opacity: 1;
}
header .presentation {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 60px;
}

.container {
  margin: auto;
  background-color: #f5f1f1;
  padding-top: 20px;
}

.restaurants {
  margin: auto;
  box-shadow: 6px 6px 6px gray;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow: hidden;
  background-color: #fff;
}
.restaurants__img-new {
  display: flex;
  justify-content: flex-end;
}
.restaurants__img-new--texte {
  background-color: #99e2d0;
  color: green;
  width: 6em;
  padding: 5px;
  position: absolute;
  margin-right: 30px;
  text-align: center;
}
.restaurants__img-new img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.restaurants__textandheart {
  display: flex;
  justify-content: space-between;
  margin: -15px 0px 0px 20px;
}
.restaurants__textandheart--texte {
  padding-top: 15px;
}
.restaurants__textandheart--texte p {
  font-size: 20px;
  line-height: 0;
  font-weight: 100;
}

footer {
  background-color: black;
  padding: 20px 50px;
}
footer img {
  filter: invert(100%);
  width: 130px;
  padding: 15px 0px 25px 0px;
}

.footer-texte__elements a,
.footer-texte__elements i {
  color: white;
}
.footer-texte__elements a {
  display: flex;
  margin-bottom: -15px;
}
.footer-texte__elements a p {
  padding-top: 0;
}
.footer-texte__elements i {
  display: block;
  width: 40px;
  padding-top: 20px;
}

.header__img {
  position: absolute;
}
.header__img img {
  width: 100%;
  object-fit: cover;
}
.header__return-logo {
  display: flex;
}
.header__return-logo .return {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 10px;
  box-shadow: none;
}

.menu_contenu {
  position: relative;
  margin-top: 250px;
  background-color: #f5f1f1;
  border-radius: 3em;
  padding-top: 15px;
}

.titre {
  display: flex;
  justify-content: space-between;
}
.titre h1 {
  font-family: "shrikhand";
}

.entree,
.plats,
.desserts {
  margin-left: 20px;
  margin-bottom: 50px;
}
.entree h2,
.plats h2,
.desserts h2 {
  font-family: "robotolight";
  font-weight: 100;
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: 5px solid #99e2d0;
  width: 40px;
  padding-bottom: 5px;
}

.anim-menu {
  display: flex;
  flex-direction: column;
}

.anim-menu__proposition {
  cursor: url("../../images/logo/curseur.cur"), pointer;
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 6px 6px 6px gray;
  border-radius: 15px;
  margin-bottom: 20px;
  padding-left: 15px;
  overflow: hidden;
}
.anim-menu__proposition:hover .anim-menu__proposition--plat {
  width: 50%;
  padding-right: 1em;
}
.anim-menu__proposition--prix {
  display: flex;
  align-items: flex-end;
  font-size: 22px;
  font-weight: bolder;
}
.anim-menu__proposition--plat {
  width: 70%;
}
.anim-menu__proposition--plat p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.anim-menu__proposition--prix p {
  padding-right: 30px;
}
.anim-menu__proposition h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px 0px;
  margin-right: 30px;
  font-size: 20px;
}

.check {
  width: 100%;
  height: 100%;
  background-color: #99e2d0;
  text-align: center;
  padding: 0 40px 0 40px;
  margin-right: -120px;
  display: flex;
  transition: margin-right 0.3s;
}
.check i {
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
