$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-back: #e5e5e5;
$colour-cartouche:#f5edff; 
$gradient: linear-gradient(
  lighten($colour-secondary, 8) 0%,
  darken($colour-primary, 10) 100%
);
/*loading spinner*/
$num-bars: 5;
$size: 3vh;
$anim-dur: 1000ms;
$anim-delay: $anim-dur/$num-bars;